<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36599718108-c3hl2oehpp5hk8s1iijq7mjt5tk88pb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36599718108-c3hl2oehpp5hk8s1iijq7mjt5tk88pb4</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtrRKiJC4qqWroIQ6dXT7PEVGCSm0zp8</string>
	<key>GCM_SENDER_ID</key>
	<string>36599718108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingFlutter</string>
	<key>PROJECT_ID</key>
	<string>waste-management-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>waste-management-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36599718108:ios:650c0945e8b14b953e1419</string>
	<key>DATABASE_URL</key>
	<string>https://waste-management-flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>